### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [2]:
# Show the first 5 rows of data
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# Count the unique values in the column "SN" to get total number of players
total_players = purchase_df["SN"].nunique()

# Put the total player number into a Data Frame
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# calculate the number of unique items
unique_items = purchase_df["Item ID"].nunique()

# calculate average price of the items
average_price = purchase_df["Price"].mean()

# Calculate number of purchases
purchases = purchase_df["Purchase ID"].count()

# calculate total revenue
revenue = purchase_df["Price"].sum()

# Create a dictionary to hold the results
summary_data = {"Number of Unique Items": [unique_items],
               "Average Price": average_price,
               "Number of Purchases": purchases,
               "Total Revenue": revenue}

# Create a summary data frame to hold the results
summary_df = pd.DataFrame(summary_data)

# change the format of Average Price and Total Revenue
summary_df = summary_df.style.format({"Average Price": '${:,.2f}',
                        "Total Revenue": '${:,.2f}'})
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# generate a dataframe containing player "SN" and "Gender"
gender_df = purchase_df[["SN", "Gender"]]

# remove duplicates in the SN
gender_df = gender_df.drop_duplicates(subset=["SN"])

# group by gender to count numbers of Male, Female and Non-Disclosed
gender_summary_df = gender_df.groupby("Gender").count().sort_values("SN", ascending=False)

# rename "SN" to "Total Count"
gender_summary_df = gender_summary_df.rename(columns= {"SN":"Total Count"})

# Add a column to calculate percentage of gender
gender_summary_df["Percentage of Players"]=gender_summary_df["Total Count"]/total_players

# Change the format of "Percentage of Players"
gender_summary_df = gender_summary_df.style.format({'Percentage of Players': "{:.2%}"})
gender_summary_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# group by Gender to get the purchase count
purchase_count = purchase_df.groupby("Gender").count()["Purchase ID"]

# group by gender to get the average Purchase Price
average_purchase_price = purchase_df.groupby("Gender").mean()["Price"] 

# group by gender to get the total purchase value
total_purchase_value = purchase_df.groupby("Gender").sum()["Price"] 

# construct a dataframe for Purchasing Analysis 
purchasing_df = pd.DataFrame({"Purchase Count": purchase_count, 
                             "Average Purchase Price": average_purchase_price, 
                             "Total Purchase Value": total_purchase_value})

# calculate the average total purchase per person and add to the dataframe
gender_count = gender_df.groupby("Gender").count()              # gender with unique counts
purchasing_df["Avg Total Purchase per Person"] = purchasing_df["Total Purchase Value"]/gender_count["SN"]

# change the format 
purchasing_df = purchasing_df.style.format({"Average Purchase Price": '${:,.2f}',
                                            "Total Purchase Value": '${:,.2f}',
                                            "Avg Total Purchase per Person": '${:,.2f}'})
purchasing_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# generate the bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]           # the oldest player in this dataset is 45

# generate the group names
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Creat a dataframe containing SN and age
age_df = purchase_df[["SN", "Age"]]

# remove duplicates in the SN
age_df = age_df.drop_duplicates(subset=["SN"])

# add the bins column
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=group_names)
# generate the data frame containing the bined data
age_demographics_df = age_df.groupby("Age Group").count()
age_unique = age_demographics_df
# rename the columns
age_demographics_df = age_demographics_df.rename(columns= {"SN":"Total Count", "Age": "Percentage of Players"})

# calculate the percentage of players
age_demographics_df["Percentage of Players"]=age_demographics_df["Percentage of Players"]/total_players

# format the data
age_demographics_df = age_demographics_df.style.format({'Percentage of Players': "{:.2%}"})

age_demographics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Creat a dataframe containing SN and age
PA_age_df = purchase_df.loc[:, ["Age", "Price"]]

# add the bins column
PA_age_df["Age Range"] = pd.cut(PA_age_df["Age"], bins, labels=group_names)

# Calculate Purchase Count for each Age range
purchase_count = PA_age_df.groupby("Age Range").count()["Age"]

# Calculate Average Purchase Price for each Age range
avg_purchase_price = PA_age_df.groupby("Age Range").mean()["Price"]

# Calculate Total Purchase Value for each Age range
total_value = PA_age_df.groupby("Age Range").sum()["Price"]

# Calculate Avg Total Purchase per Person for each age range
purchase_per_person = total_value/age_unique["Age"]

# Create a summary data frame to hold the results
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price, 
                                    "Total Purchase Value": total_value,
                                    "Avg Total Purchase per Person": purchase_per_person})
# change the format 
purchasing_analysis_df = purchasing_analysis_df.style.format({"Average Purchase Price": '${:,.2f}',
                                                            "Total Purchase Value": '${:,.2f}',
                                                            "Avg Total Purchase per Person": '${:,.2f}'})
purchasing_analysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group by SN to get Purchase Count
purchase_count = purchase_df.groupby(["SN"]).count()["Purchase ID"]

# group by SN to get Average Purchase Price
avg_purchase_price = purchase_df.groupby(["SN"]).mean()["Price"]

# group by SN to get Total Purchase Value
total_purchase_value = purchase_df.groupby(["SN"]).sum()["Price"]

# Create a summary data frame to hold the results
spender_df = pd.DataFrame({"Purchase Count": purchase_count, 
                           "Average Purchase Price": avg_purchase_price, 
                           "Total Purchase Value": total_purchase_value})
# Sort by Total Purchase Value
spender_df=spender_df.sort_values("Total Purchase Value", ascending=False)

# change the format 
spender_styler = spender_df.head(5).style.format({"Average Purchase Price": '${:,.2f}',
                                      "Total Purchase Value": '${:,.2f}'})
spender_styler

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
popularity_df = purchase_df[["Item ID", "Item Name", "Price"]]

# group by item ID and Item Name to obtain purchase count
purchase_count = popularity_df.groupby(["Item ID", "Item Name"]).count()["Price"]

# group by item ID and Item Name to obtain average item price
avg_price = popularity_df.groupby(["Item ID", "Item Name"]).mean()["Price"]

# group by item ID and Item Name to obtain total purchase value
total_value = popularity_df.groupby(["Item ID", "Item Name"]).sum()["Price"]

# Create a summary data frame to hold the results
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count, 
                               "Item Price": avg_price, 
                               "Total Purchase Value": total_value})

# Sort by Purchase Count to find the most popular item
most_popular_df=purchase_summary_df.sort_values("Purchase Count", ascending=False)

# change the format 
most_popular_styler = most_popular_df.head(5).style.format({"Item Price": '${:,.2f}',
                                                            "Total Purchase Value": '${:,.2f}'})
most_popular_styler

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort by Total Purchase Value to find the most profitable item
most_profitable_df=purchase_summary_df.sort_values("Total Purchase Value", ascending=False)

# change the format 
most_profitable_styler = most_profitable_df.head(5).style.format({"Item Price": '${:,.2f}',
                                                            "Total Purchase Value": '${:,.2f}'})
most_profitable_styler

## Three observable trends based on the data:

1. The number of male players is greater than female players.

2. The percentage of Players is highest in the age range of 20-24. 

3. The most popular item "Final Critic" is also the most profitable item.